<% unless comment.archived? %>
  <div class="form-group">
    <strong>Commenter:</strong>
    <%= comment.commenter %>


 <div class="input-group">
        <input class="string optional form-control" placeholder="Provider name..." autocomplete="off" type="text" id="provider-filter">
        <i class="fa fa-search form-control-feedback provider__search-button"></i>
 </div>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
  </p>

  </div>
<% end %>
