<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="overlay p-5">
      <h1 class="display-4">THE UKRAINE RUSSIA CONFLICT </h1>
      <h5 class="pb-2">For people that want to understand the crisis in Ukraine</h5>
    </div>
  </div>
</div>

<div class="ml-3"> Our blog has <%= Article.public_count %> articles and counting! <div>

<%= link_to("New Article", new_article_path, :method => :get, :class => "btn btn-primary") %>

<ul class="list-group">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

